<!DOCTYPE html>
<html>
<head>
    <title>InspireMe App</title>
    <link rel="stylesheet" type="text/css" href="static/css/styles.css">
    <link rel="stylesheet" type="text/css" href="static/css/landing.css">
    <link rel="icon" href="https://www.freeiconspng.com/thumbs/inspiration-icon/inspiration-icon-1.png">

    <header>
        <div class="cover-image.jpg"></div>
        <h1>Welcome to InspireMe </h1>
        <p>Inspiration at your fingertips</p>
        <nav>
            <ul>
                <li><a href="#features">Features</a></li>
                <li><a href="#about">About</a></li>
            </ul>
        </nav>
        <a href="{{ url_for('rootpage') }}" class="cta-button">Visit the App</a>
    </header>
</head>
<body>

    <section id="features">
        <h2>Key Features</h2>
        <div class="feature">
            <div class="thumbnail">
                <img src="static/images/random_quote 1.png" alt="random_quote 2.png" class="feature-image">
            </div>
            <div class="feature-content">
                <h3>Random Quote</h3>
                <p>Description<br>
                    This feature generates a random quote from a predefined list of quotes.<br>
                    It provides users with inspirational and motivational quotes to uplift their spirits,<br>
                    or gain new perspectives.<br>
                </p>
            </div>
        </div>
        <div class="feature">
            <div class="thumbnail">
                <img src="static/images/quote search.png" alt="quote of the day.png" class="feature-image">
            </div>
            <div class="feature-content">
                <h3>Quote Search</h3>
                <p>Description<br>
                    The "Quote of the Day" feature provides users with a carefully curated quote each day,<br>
                    to inspire and uplift them. This feature ensures that users start their day with a meaningful quote that can motivate,<br>
                    encourage, or provoke thought. The quote is handpicked from a collection of inspiring quotes <br>
                    and is designed to resonate with users on a deep level.<br>
                </p>
            </div>
        </div>
        <div class="feature">
            <div class="thumbnail">
                <img src="static/images/contact.png" alt="landing page.png" class="feature-image">
            </div>
            <div class="feature-content">
                <h3>Landing Page and Contact Information</h3>
                <p>Description<br>
                    The app has a landing page that introduces the InspireMe app.<br>
                    It includes information about the app, such as its purpose and the team behind it.<br>
                    The landing page also provides contact information, including links to the GitHub repository,<br>
                    LinkedIn profiles, and Twitter accounts of the team members.<br>
                </p>
            </div>
        </div>
    </section>
    
    <section id="about">
        <h2>About InspireMe</h2>
        <p>
            InspireMe is a passion project driven by the belief in the transformative power of inspiration.<br>
            We understand that a single quote or a moment of motivation can have a profound impact on our lives.<br>
            That's why we created the InspireMe app, a user-friendly platform that delivers carefully curated quotes,<br>
            and powerful affirmations right to your fingertips.<br>
            Our mission is to make inspiration accessible to everyone, anytime and anywhere.<br>
            Start your day with a fresh quote, save your favorites, and share them with your loved ones.<br>
            Let inspiration guide you on your journey towards personal growth and success.<br>
            Join the InspireMe community and embrace the power of inspiration to create positive change in your life.<br>
            It is a Portfolio Project for Holberton School, showcasing skills and experiences in web development.<br>
        </p>
        <div class="team-members">
            <div class="member">
                <h3>Chioma Enemuo</h3>
                <ul>
                    <li><a href="https://www.linkedin.com/in/chiomaenemuo" target="_blank">LinkedIn</a></li>
                    <li><a href="https://github.com/Chynet35" target="_blank">GitHub</a></li>
                    <li><a href="https://twitter.com/Amarach53971318" target="_blank">Twitter</a></li>
                </ul>
            </div>
            <div class="member">
                <h3>Asomugha John</h3>
                <ul>
                    <li><a href="https://www.linkedin.com/in/asomugha-john-kenenna-75315b185/" target="_blank">LinkedIn</a></li>
                    <li><a href="https://github.com/Jakmike" target="_blank">GitHub</a></li>
                    <li><a href="https://twitter.com/Jakmike3" target="_blank">Twitter</a></li>
                </ul>
            </div>
        </div>
        <a href="https://github.com/Jakmike/MVP" target="_blank" class="cta-button">View Project Repository</a>
    </section>

    <footer>
        <p>© 2023 InspireMe. All rights reserved.</p>
    </footer>
</body>
</html>
