<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Quote</title>
    <img src= "static/images/bg-img.jpg"></img>
    <href= apiUrl = "https://api.quotable.io/random"></href>
    <link rel="stylesheet" type="text/css" href="static/css/styles.css">
    <link rel="stylesheet" type="text/css" href="static/css/quote.css">
</head>

<body>
    <main>
        <div class="quote--card">
            <h1>Inspiration at your fingertips</h1>
            <blockquote id="quote">...</blockquote>
            <span id="author">...</span>
            <button onclick="getQuote(apiUrl)">New Quote</button>
        </div>
    </main>

    <script src="static/js/script.js"></script>
</body>

</html>
